<div class="bg-[#1f2937] text-white h-screen px-6 py-8 shadow-md transition-all duration-300"
     [ngClass]="{ 'w-64': sidebarAberta, 'w-16': !sidebarAberta }">
  <div class="flex justify-between items-center mb-6">
    <h1 *ngIf="sidebarAberta" class="text-2xl font-bold text-blue-400">Financeiro</h1>
    <button (click)="toggleSidebar()" class="text-white focus:outline-none text-xl">
      ☰
    </button>
  </div>
  <nav class="flex flex-col space-y-4">
    <a href="/" routerLinkActive="text-blue-400" class="text-sm hover:text-blue-300">📊 <span *ngIf="sidebarAberta">Dashboard</span></a>
    <a href="/lancamentos" routerLinkActive="text-blue-400" class="text-sm hover:text-blue-300">📌 <span *ngIf="sidebarAberta">Lançamentos</span></a>
    <a href="/parcelamentos" routerLinkActive="text-blue-400" class="text-sm hover:text-blue-300">📅 <span *ngIf="sidebarAberta">Parcelamentos</span></a>
    <a href="/categorias" routerLinkActive="text-blue-400" class="text-sm hover:text-blue-300">🏷️ <span *ngIf="sidebarAberta">Categoria</span></a>
    <a href="/receitas" routerLinkActive="text-blue-400" class="text-sm hover:text-blue-300">💰 <span *ngIf="sidebarAberta">Receita</span></a>
    <a href="/despesas" routerLinkActive="text-blue-400" class="text-sm hover:text-blue-300">🧾 <span *ngIf="sidebarAberta">Despesas</span></a>
    <a href="/cartoes" routerLinkActive="text-blue-400" class="text-sm hover:text-blue-300">💳 <span *ngIf="sidebarAberta">Cartão</span></a>
  </nav>
</div>
