<div class="flex min-h-screen bg-[#111827] text-white">
    <main class="flex-1 p-10">
        <h2 class="text-3xl font-semibold mb-6">Lançamentos</h2>

        <!-- Formulário -->
        <div class="bg-[#1f2937] text-white p-6 rounded shadow mb-8">
            <h3 class="text-xl font-bold mb-4">Novo Lançamento</h3>
            <form (ngSubmit)="registrar()" class="grid grid-cols-1 md:grid-cols-3 gap-4 items-end">
                <div class="flex flex-col">
                    <label class="text-sm  font-medium">Data</label>
                    <input type="date" k [(ngModel)]="novoLancamento.data" name="data" class="campo text-black"  required />
                </div>

                <div class="flex flex-col md:col-span-2">
                    <label class="text-sm font-medium">Descrição</label>
                    <textarea [(ngModel)]="novoLancamento.descricao" name="descricao" maxlength="60" rows="1"
                        class="campo text-black" required></textarea>
                </div>

                <div class="flex flex-col">
                    <label class="text-sm font-medium">Cartão</label>
                    <select [(ngModel)]="novoLancamento.cartao" name="cartao" class="campo text-black">
                        <option *ngFor="let c of cartoes" [value]="c.id">{{ c.titular }} - {{ c.instituicao }}</option>
                    </select>
                </div>

                <div class="flex flex-col">
                    <label class="text-sm font-medium">Valor</label>
                    <input type="text" [(ngModel)]="novoLancamento.valor" name="valor" (input)="formatarValor()"
                        class="campo text-black" required />
                </div>

                <div class="flex md:col-span-3 justify-end">
                    <button type="submit"
                        class="bg-blue-600 text-white px-6 py-2 rounded font-semibold hover:bg-blue-700 transition-all">
                        {{ lancamentoEmEdicaoId ? 'Atualizar' : 'Registrar' }}
                    </button>
                </div>
            </form>
        </div>

        <!-- Tabela -->
        <div class="bg-[#1f2937] text-white p-6 rounded shadow">
            <h3 class="text-xl font-bold mb-4">Lançamentos Registrados</h3>

            <p *ngIf="lancamentos.length === 0" class="text-gray-400">Nenhum lançamento cadastrado ainda.</p>

            <table *ngIf="lancamentos.length > 0" class="min-w-full text-sm text-left border mt-4">
                <thead class="bg-[#374151] text-gray-200">
                    <tr>
                        <th class="px-4 py-2 border-b text-center">Data</th>
                        <th class="px-4 py-2 border-b text-center">Descrição</th>
                        <th class="px-4 py-2 border-b text-center">Cartão</th>
                        <th class="px-4 py-2 border-b text-center">Valor</th>
                        <th class="px-4 py-2 border-b text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reg of lancamentos" class="hover:bg-[#2c2c3e] transition">
                        <td class="px-4 py-2 border-b text-center">{{ formatarData(reg.data) }}</td>
                        <td class="px-4 py-2 border-b text-center">{{ reg.descricao }}</td>
                        <td class="px-4 py-2 border-b text-center">{{ obterCartaoNome(reg.cartao) }}</td>
                        <td class="px-4 py-2 border-b text-center font-medium">
                            {{ reg.valor | currency:'BRL':'symbol':'1.2-2' }}
                        </td>
                        <td class="px-4 py-2 border-b text-center space-x-2">
                            <button (click)="editar(reg)"
                                class="bg-yellow-500 hover:bg-yellow-600 text-white px-3 py-1 rounded text-xs">Editar</button>
                            <button (click)="excluir(reg.id)"
                                class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded text-xs">Excluir</button>
                        </td>
                    </tr>
                </tbody>

                <!-- TOTAL -->
                <tfoot>
                    <tr class="bg-[#111827] font-bold">
                        <td colspan="3" class="px-4 py-2 text-right">Total:</td>
                        <td colspan="2" class="px-4 py-2 text-left text-green-500">
                            {{ calcularTotal() | currency:'BRL' }}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>
</div>