<div class="flex min-h-screen bg-[#111827] text-white">
  <main class="flex-1 p-10">
    <h2 class="text-3xl font-semibold mb-6">Categorias</h2>

    <!-- Formulário -->
    <div class="bg-[#1f2937] text-white p-6 rounded shadow mb-8">
      <h3 class="text-xl font-bold mb-4">Nova Categoria</h3>
      <form (ngSubmit)="registrar()" class="space-y-4">
        <div class="flex flex-col">
          <label class="text-sm font-medium">Nome da Categoria</label>
          <textarea [(ngModel)]="novaCategoria.nome" name="nome" maxlength="50" class="campo"></textarea>
        </div>
        <div class="flex justify-end">
          <button type="submit" class="bg-blue-600 text-white px-6 py-2 rounded font-semibold hover:bg-blue-700 transition-all">
            {{ categoriaEditandoId ? 'Atualizar' : 'Salvar' }}
          </button>
        </div>
      </form>
    </div>

    <!-- Tabela -->
    <div class="bg-[#1f2937] text-white p-6 rounded shadow">
      <h3 class="text-xl font-bold mb-4">Categorias Cadastradas</h3>
      <p *ngIf="categorias.length === 0" class="text-gray-400">Nenhuma categoria cadastrada ainda.</p>
      <table *ngIf="categorias.length > 0" class="min-w-full text-sm text-left border mt-4">
        <thead class="bg-[#374151] text-gray-200">
          <tr>
            <th class="px-4 py-2 border-b">Categoria</th>
            <th class="px-4 py-2 border-b text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of categorias" class="hover:bg-[#2c2c3e] transition">
            <td class="px-4 py-2 border-b">{{ cat.nome }}</td>
            <td class="px-4 py-2 border-b text-center space-x-2">
              <button (click)="editar(cat)" class="bg-yellow-500 hover:bg-yellow-600 text-white px-3 py-1 rounded text-xs">Editar</button>
              <button (click)="excluir(cat.id)" class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded text-xs">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
